---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const pages = await Astro.glob("../content/**/*.md*");

  return pages.map((page) => ({
    params: {
      slug: page.frontmatter.slug,
    },
    props: {
      page,
    },
  }));
}

const { Content } = Astro.props.page;
const { image, title, description, subtitle, ogImage, hasTopBanner } =
  Astro.props.page.frontmatter;
---

<Layout title={title} ogImage={ogImage}>
  <article>
    {!hasTopBanner && <header >
      <div class="bg-primaryLight p-0">
        <div class="header flex items-center justify-center container mx-auto">
          <div class="text-center px-4 md:w-1/2 my-16">
            <h1 class="text-5xl font-bold">{title}</h1>
            <p class="mt-4 text-3xl font-semibold">{subtitle}</p>
            <p class="mt-4 text-2xl">{description}</p>
          </div>
        </div>
      </div>
    </header>}

    <section>
        <Content />
    </section>
  </article>
</Layout>

<style>
  .label-description {
    color: black !important;
  }

  .header {
    /* img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    } */

    /* background-image: url(/img/assets/fleur4.svg), url(/img/assets/fleur3.svg);
    background-size: 100px, 60px;
    background-position: bottom left 30%, bottom left 60%;
    background-repeat: repeat-x; */
  }
</style>
