---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";

export async function getStaticPaths() {
  const pages = await Astro.glob("../content/**/*.md*");

  return pages.map((page) => ({
    params: {
      slug: page.frontmatter.slug,
    },
    props: {
      page,
    },
  }));
}

const { Content } = Astro.props.page;
const { image, title, description, subtitle } = Astro.props.page.frontmatter;
---

<Layout title={title}>
  <article>
    <div class="bg-primaryLight p-0">
      <div class="header flex items-center justify-center container mx-auto">
        <div class="text-center w-1/2 my-20">
          <h1 class="uppercase text-5xl font-bold">{title}</h1>
          <p class="mt-4 text-3xl font-semibold">{subtitle}</p>
          <p class="mt-4 text-2xl">{description}</p>
        </div>
      </div>
    </div>

    <!-- <div class="header w-full relative">
      <div
        class="absolute flex items-center justify-center text-white h-full w-full"
      >
        <div class="container mx-auto relative">
          <div class="text-center border-1 w-1/2">
            <h1 class="text-5xl">{title}</h1>
            <p class="mt-4 text-3xl">{subtitle}</p>
            <p class="mt-4 text-2xl">{description}</p>
          </div>
        </div>
      </div>

      <Image
        src={image}
        width={1000}
        height={600}
        format="webp"
        alt="photo du festival"
        class="object-cover"
      />
    </div> -->

    <div class="mt-4">
      <Content />
    </div>
  </article>
</Layout>

<style>
  .label-description {
    color: black !important;
  }

  .header {
    /* img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    } */

    /* background-image: url(/img/assets/fleur4.svg), url(/img/assets/fleur3.svg);
    background-size: 100px, 60px;
    background-position: bottom left 30%, bottom left 60%;
    background-repeat: repeat-x; */
  }
</style>
