---
import type actu from "../interfaces/actu"

export interface Props {
    actu:actu;
}

const { href, title, text,date,place,image } = Astro.props.actu;
---

<a class="my-8" class="actu-item" href={href}>
    <div>
        <h3 class="text-xl">{title}</h3>
        <p>
            {date} à {place}<br/>
            {text}
        </p>
    </div>
</a>

<style>
	.actu-item{
        text-decoration:none;
        margin-bottom:1em;
    }
</style>