---
import type actu from "../interfaces/actu";
import Btn from "../components/vue/Btn.vue";

export interface Props {
  actu: actu;
}

const { href, title, text, date, place, image } = Astro.props.actu;
---

<div class="mb-10">
  <h3 class="text-xl">{title}</h3>
  <p>
    {date} à {place}<br />
    {text}

    <Btn to={href}>En savoir plus </Btn>
  </p>
</div>

<style>
  .actu-item {
    text-decoration: none;
    margin-bottom: 1em;
  }
</style>
