---
import { Image } from "astro:assets";

export interface Props {
  title: string;
  image: string;
  content?: string;
  location?: string;
  size?: number;
  float?: "left" | "right";
  center: boolean;
}

const { title, image, content, location, size, float, center } = Astro.props;

let mainClass = "";

if (float) {
  mainClass += `float-${float} `;
}

if (size) {
  mainClass += `w-${size} `;
}
---

<div
  class={`${mainClass}flex flex-col items-center p-8 transition-colors duration-200 transform cursor-pointer group hover:bg-primary rounded-xl`}
>
  <div class="portrait-image">
    <Image
      class=" object-cover rounded-full ring-4 ring-gray-300 w-150 h-150"
      src={image}
      alt=""
      format="webp"
      height={150}
      width={150}
    />
  </div>

  <h1
    class="mt-4 text-2xl text-center font-semibold text-gray-700 capitalize dark:text-white group-hover:text-white"
  >
    {title}
  </h1>

  <p
    class="mt-2 text-center text-gray-500 capitalize dark:text-gray-300 group-hover:text-gray-300"
  >
    {content}
    {location && <br />}
    {location}
  </p>
</div>

<style scoped>
img{
  height:100% !important;
  width:100% !important;
}

.portrait-image{
  height:170px !important;
  width:170px !important;
}

</style>
