---
import "../styles/global.scss";
import NavBar from "../components/vue/NavBar.vue";
import menus from "../menu.json";
import Footer from "../components/Bottom.astro";

export interface Props {
  title: string;
  ogImage:String;
}

const { title, ogImage } = Astro.props;

const fonts =
  "https://fonts.googleapis.com/css2?family=Average+Sans&family=Birthstone+Bounce:wght@500&family=Rufina:wght@700&display=swap";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href={fonts} rel="preload" as="style" />

    {ogImage && <meta
      property="”og:image”"
      content=`https://tangobucolico.com${ogImage}`
    />
    }

    <link
      rel="stylesheet"
      href={fonts}
      media="print"
      onload="this.media='all'"
    />

    <script>
      (function (w, d, e, u, f, l, n) {
        (w[f] =
          w[f] ||
          function () {
            (w[f].q = w[f].q || []).push(arguments);
          }),
          (l = d.createElement(e)),
          (l.async = 1),
          (l.src = u),
          (n = d.getElementsByTagName(e)[0]),
          n.parentNode.insertBefore(l, n);
      })(
        window,
        document,
        "script",
        "https://assets.mailerlite.com/js/universal.js",
        "ml"
      );
      ml("account", "388032");
    </script>
    <!-- End MailerLite Universal -->
    <!-- End MailerLite Universal -->
    <title>{title}</title>
  </head>
  <body class="bg-background text-dark">

    <NavBar client:load siteUrl="/" menus={menus} />
    <slot />

    <Footer />
  </body>
</html>

<style is:global>
  .title-site {
    font-family: "Birthstone Bounce", cursive;
  }

  body {
    font-family: "Average Sans";
    color: rgb(69, 69, 69);
    font-size: 1.2em;
  }

  h1,
  .title {
    font-family: "rufina";
  }

  h2 {
    font-family: "rufina";
    font-size: 2.4em;
    font-weight: bold;
    margin-bottom: 0.1em;
  }

  h3 {
    font-family: "rufina";
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.5em;
  }
</style>
